In [3]:
fruits=['Apple','Banana','Mango','Orange',2,4,9,6,7.5,6.9,'Grapes']
print(fruits)

['Apple', 'Banana', 'Mango', 'Orange', 2, 4, 9, 6, 7.5, 6.9, 'Grapes']

In [4]:
student={
    'name':'John',
    'age':25,
    'class':'10th',
}
print(student)

{'name': 'John', 'age': 25, 'class': '10th'}

String Concatenation

In [15]:
a=10
b="20"
x=int(b)
c=a+x
print(c)

30

In [17]:
a=10
b="20"
x=str(a)
c=b+x
print(c)

2010

In [6]:
fname="John"
lname="Doe"
name=fname+" "+lname
print("My name is :",name)

My name is : John Doe

In [14]:
a="areeba"
b="20"
print("My name is",a,", and my age is",b)
print(f"My name is {a}, and my age is {b}")

My name is areeba , and my age is 20
My name is areeba, and my age is 20

In [22]:
a=float(input("Enter the Value:"))
b=float(input("Enter the Value:"))
print(a+b)

31.0

In [23]:
a=10
print(a)

10

In [1]:
bs=int(input("Enter the Basic Salary:"))
tda=bs*10/100
hra=bs*15/100
gs=bs+tda+hra
print("Total Salary:",gs)

Total Salary: 56250.0